<mat-toolbar style="height: 60px" color="primary" class="mat-elevation-z8">
  <div class="right-toolbar">
    <!-- (click)="drawer.toggle()" -->
    <!-- (click)="collapsed.set(!collapsed())" -->
    <button mat-icon-button (click)="toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div class="left-toolbar">
    <!-- <a href="#" mat-raised-button color="warn">خروج</a> -->
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Profile">
      <i class="fa-solid fa-user fa-sm"></i>
    </button>
    <mat-menu #menu="matMenu">
      <div style="text-align: center">
        <h4>سینا مردانی</h4>
        <h5>1273650271</h5>
      </div>
      <button mat-menu-item>
        <div class="profile">
          <div>
            <i class="fa-solid fa-gear" style="color: #343239"></i>
          </div>
          <div>
            <span style="font-family: 'VazirBoldFD'">تنظیمات</span>
          </div>
        </div>
      </button>
      <button mat-menu-item>
        <div class="profile">
          <div>
            <i
              class="fa-solid fa-arrow-right-from-bracket"
              style="color: #343239"
            ></i>
          </div>
          <div>
            <span style="font-family: 'VazirBoldFD'">خروج</span>
          </div>
        </div>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
<mat-drawer-container>
  <!-- <mat-drawer #drawer opened="true" mode="side" position="start"> -->
  <mat-drawer
    [@openClose]="isOpen ? 'open' : 'close'"
    opened
    mode="side"
    position="start"
  >
    <mat-nav-list>
      <!-- <a routerLink="card" class="user-select-none" mat-list-item>
        <mat-icon matListItemIcon>dashboard</mat-icon>
        <span matListItemTitle>صفحه‌اصلی</span>
      </a> -->
      <a routerLink="/ReportDesign" class="user-select-none" mat-list-item>
        <mat-icon matListItemIcon> list_alt</mat-icon>
        <span matListItemTitle>طراحی‌گزارش</span>
      </a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content [@openClose]="isOpen ? 'sideNavOpen' : 'sideNavClose'">
    <div class="mat-drawer-content">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
